* {
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Titillium Web";
}

body {
  background-image: url("christmas-bg.png");
}

.header {
  color: #ffffff;
  background-color: #a0181c;
  padding: 7px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;

}

.candycane {
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 33%;
  float: left;
  margin-right: 0.5%;
}

.candy {
  padding-bottom: 5px;
  padding-top: 5px;
}

.candy::after {
  clear: both;
  display: block;
  content: "";
}

.candycane:last-child {
  margin-right: 0;
}

.background {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 25px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.text {
  border-style: dashed;
  border-color: #a0181c;
  margin-top: 10px;
}

.picture {
  float: left;
}

.text2 {
  margin-left: 60px;
}

.content {
  border-style: dashed;
  border-color: #a0181c;
  margin-top: 10px;
}

.content3 {
  border-style: dashed;
  border-color: #a0181c;
  margin-top: 10px;
  clear: both;
}

.content3 h2, .content4 h2 {
  background-image: linear-gradient(to right, #ffffff , #a0181c , #ffffff);
  text-align: center;
  border: #a0181c solid 2px;

}

.empty {
  border-top: #a0181c dashed 3px;
}

.bottom {
  color: #ffffff;
  background-color: #a0181c;
  padding: 7px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.bottom p {
  color: #000000;
}

.contact {
  font-weight: bold;
  width: 125px;
  display: inline-block;
}

.content4 {
  border-style: dashed;
  border-color: #a0181c;
  margin-top: 10px;
  margin-bottom: 10px;
}

.link {
  background-color: #335a16;
  color: #a0181c;
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px;
  margin-bottom: 6px;
  text-decoration: none;
}

h1 {
  font-family: "Merriweather";
}

h2 {
  font-family: "Merriweather";
}

.some img {
  width: 50px;
  margin-right: 10px;
}

.some {
  text-align: center;
}

@media only screen and (min-width:600px) {
  .text {
    border: none;
  }
  .left {
    float: left;
    width: 50%;
  }
  .right {
    float: right;
    width: 50%;
  }
  .some {
    text-align: left;
  }
}

@media only screen and (min-width:700px) {
  .content3 {
    width: 49%;
    float: left;
  }
  .content4 {
    width: 49%;
    float: right;
  }
  .bottom {
    clear: both;
  }
}

@media only screen and (min-width:800px) {
  .content3, .content4 {
    border: none;
    width: 100%;
    float: none;
    padding: 4px;
  }
  .content5 {
    border-style: dashed;
    border-color: #a0181c;
    margin-top: 10px;
    float: right;
    width: 33%;
  }
  .left, .right {
    float: left;
    width: 33%;
  }
  .bottom::after {
    content: "";
    display: block;
    clear: both;
  }
  .some  {
    padding-left: 8px;
    width: 33%;
    float: right;
  }
  .right {
    padding-left: 8px;
  }
}
