@base: #663333;
@complement: darken(spin(@base, 180), 5%);   // vihreä
@lighten1: lighten(@base, 15%);    // navigaation teksti ja reunus
@lighten2: lighten(@base, 30%);    // punaiset taustat

@spacing: 20px;   // laatikoiden välissä / ympärillä
@padding: 10px;    // laatikoiden sisällä

* {
    box-sizing: border-box;
}

section {
    font-family: 'Lobster';
    text-align: center;
}



.recommendation {
    display: flex;
    h2 {
        color: @complement;
    }
    .recommend {
        color: @complement;
    }
}

main {
    clear: both;
}

.wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; 
}

.back-wrapper {  
    float: left;
    width: 33.33%;
    padding-right: @spacing;
    .back {
        background-color: @base;
        border: @padding solid @complement;
        position: relative;
        .visible:hover {
            opacity: 0;
        }
        .hidden {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .visible {
            z-index: 1;
            background-color: @base;
            position: relative;
        }
    }
}

.back-wrapper:last-child {
    padding-right: 0;
}

.recommendation-wrapper {
    float: left;
    width: 33.33%;
    padding-right: @spacing;
    background-color: @base;
}

.recommendation-wrapper:last-child {
    padding-right: 0;
}

nav {
    border: 2px solid @base;
    text-align: center;
    ul {
        list-style: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        width: 100%;
        &::after {
            content: "";
            display: block;
            clear: both;
        }
        li {
            display: inline;
            a {
                text-decoration: none;
                text-transform: uppercase;
                padding: @padding;
                color: @base;
            }
        }
    }
}

