* {
  box-sizing: border-box;
}
section {
  font-family: 'Lobster';
  text-align: center;
}
.recommendation {
  display: flex;
}
.recommendation h2 {
  color: #2b5555;
}
.recommendation .recommend {
  color: #2b5555;
}
main {
  clear: both;
}
.wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.back-wrapper {
  float: left;
  width: 33.33%;
  padding-right: 20px;
}
.back-wrapper .back {
  background-color: #663333;
  border: 10px solid #2b5555;
  position: relative;
}
.back-wrapper .back .visible:hover {
  opacity: 0;
}
.back-wrapper .back .hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.back-wrapper .back .visible {
  z-index: 1;
  background-color: #663333;
  position: relative;
}
.back-wrapper:last-child {
  padding-right: 0;
}
.recommendation-wrapper {
  float: left;
  width: 33.33%;
  padding-right: 20px;
  background-color: #663333;
}
.recommendation-wrapper:last-child {
  padding-right: 0;
}
nav {
  border: 2px solid #663333;
  text-align: center;
}
nav ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
nav ul::after {
  content: "";
  display: block;
  clear: both;
}
nav ul li {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  color: #663333;
}
