* {
  /*font-family: "Comic Sans MS";*/
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  border-style: solid;
  border-color: #000075;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(#000086, #ffffff);
  text-align: center;
  color: #aadbe9;
  margin-top: 0;
}

.mainnavi a:link {
  color: #ffffff;
}

.mainnavi::after {
  content: "";
  display: block;
  clear: both;
}

.mainnavi li {
  padding-left: 25px;
}

.mainnavi {
  color: #ffffff;
  background-color: #000000;
  padding: 10px;
}

.maintext {
  padding: 5px;
}

.top {
  background-color: #add8e6;
  display: none;
}

.top a {
  margin: 12px;
}

.links {
  background-color: #add8e6;
}

.linktitle {
  background-color: #00008b;
  color: #add8e6;
  margin: 0;
  padding: 5px;
}

.links ul {
  padding-bottom: 20px;
  padding-top: 20px;
}

.links a {
  text-decoration: none;
}

.sidebar ul {
  margin: 0;
}

.mobiletop select {
  background-color: #add8e6;
  width: 100%;
}

.mainnavi ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mainnavi a {
  text-decoration: none;
}

.footer {
  background-color: #000000;
  color: #ffffff;
}

.footer p {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.maintext:first-child {
  border-bottom: 2px solid #000075;
}

.maintext:last-child {
  padding-top: 10px;
}

@media only screen and (min-width:500px) {

  .links {
    width: 33.33%;
    float: left;
  }

  .footer {
    clear: both;
  }

  .linktitle {
    margin: 10px;
  }

  .mainnavi > ul > li {
    float: left;
    display: inline-block;
  }


  li:hover .submenu {
    display: block;
    padding: 7px;
  }

  .submenu {
    position: absolute;
    border: 1px solid #ffffff;
    display: none;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 5px 5px 5px #4f4f4f;
  }

  .submenu a:link {
    color: #ffffff;
  }

}

@media only screen and (min-width:650px) {
  .top {
    display: block;
    text-align: right;

  }

  .mobiletop {
    display: none;
  }

  .maintext:first-child {
    border: none;
  }

  .maintext {
    width: 50%;
    float: left;
  }

}

@media only screen and (min-width:800px) {
  .mobiletop {
    display: none;
  }

  .sidebar {
    float: right;
    width: 25%;
    padding-top: 5px;
  }

  .mainwrap {
    width: 75%;
  }

  .links {
    float: none;
    width: 100%;
  }

  .linktitle {
    margin: 0;
  }

}
