* {
  box-sizing: border-box;
}
.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
header {
  background-image: url("banner.png");
  color: #336600;
}
header h1 {
  margin: 0;
  padding: 25px;
  text-align: center;
  text-shadow: 2px 2px #a6e468;
}
.project {
  background-color: #a6e468;
  padding: 20px;
  text-align: center;
  clear: both;
}
.project::after {
  content: "";
  display: block;
  clear: both;
}
.small-project {
  width: 18%;
  float: left;
  border: #336600 solid 2px;
  border-radius: 10px;
  margin: 7px;
  background-color: #ffffff;
}
.main-text {
  width: 100%;
}
.text {
  width: 25%;
  float: left;
  padding: 5px;
}
.text h2 {
  margin-bottom: 0;
}
.sidebar {
  width: 25%;
  float: right;
}
.login h3 {
  background-color: #33cc33;
  color: #336600;
}
.event h3 {
  background-color: #33cc33;
  color: #336600;
}
nav ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
nav ul::after {
  content: "";
  display: block;
  clear: both;
}
nav ul li {
  display: inline-block;
  position: relative;
  width: 20%;
  float: left;
}
nav ul li ul {
  display: none;
  position: absolute;
}
nav ul li:hover ul {
  display: block;
}
nav ul li:hover ul li {
  display: block;
  width: 100%;
  float: none;
}
nav ul li a {
  text-decoration: none;
  color: #336600;
  background-color: #33cc33;
  display: block;
  padding: 10px;
  text-align: center;
}
nav ul li a:hover {
  background-color: #a6e468;
}
.event {
  margin-bottom: 10px;
}
.event .month {
  display: block;
  color: #a6e468;
  background-color: #336600;
  text-align: center;
  border: solid 1px #336600;
}
.event .day {
  display: block;
  border: solid 1px #336600;
  text-align: center;
  padding: 10px;
}
.event .calendar {
  width: 60px;
  float: left;
}
.event .single-event p {
  margin-left: 65px;
  padding-top: 10px;
}
.event .single-event::after {
  content: "";
  display: block;
  clear: both;
}
.date {
  color: #808080;
  margin: 0;
}
.login input {
  background-color: #a6e468;
  width: 50%;
}
.login input[type="submit"] {
  width: auto;
}
.login label {
  width: 40%;
  display: inline-block;
}
.back {
  background-image: none;
  text-align: center;
}
.some {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.facebook {
  width: 49%;
  float: right;
}
.twitter {
  width: 49%;
  float: left;
}
.tw-user {
  color: #a6e468;
}
.tw-date {
  color: #808080;
  float: right;
}
.tweet-buttons {
  float: right;
}
.tw-logo {
  float: left;
  width: 30px;
}
.tw-content {
  margin-left: 35px;
}
.tw-post {
  clear: both;
}
.tw-tweet {
  display: block;
}
.fb-user {
  color: #33cc33;
}
.fb-date {
  color: #808080;
  display: block;
}
.fb-like {
  float: right;
  height: 35px;
}
.fb-post {
  clear: both;
  border-bottom: dashed 2px #808080;
}
.fb-post::after {
  content: "";
  clear: both;
  display: block;
}
