@midGreen: #33cc33;
@lightGreen: desaturate(#a6ff4d, 30%);
@darkGreen: #336600;
@neutralColor: #808080;

* {
    box-sizing: border-box;
}
.wrapper {
    max-width: 1200px;
    margin-left:  auto;
    margin-right: auto;
}

header {
    background-image: url("banner.png");
    color: @darkGreen;
    h1 {
        margin: 0;
        padding: 25px;
        text-align: center;
        text-shadow: 2px 2px @lightGreen;
    }
}

.project {
    background-color: @lightGreen;
    padding: 20px;
    text-align: center;
    clear: both;
    &::after {
        content: "";
        display: block;
        clear: both; 
    }
}

.small-project {
    width: 18%;
    float: left;
    border: @darkGreen solid 2px;
    border-radius: 10px;
    margin: 7px;
    background-color: #ffffff;
}

.main-text {
    width: 100%;
}

.text {
    width: 25%;
    float: left;
    padding: 5px;
    h2 {
        margin-bottom: 0; 
    }
}

.sidebar {
    width: 25%;
    float: right;
}

.login {
    h3 {
        background-color: @midGreen;
        color: @darkGreen; 
    }
}

.event {
    h3 {
        background-color: @midGreen;
        color: @darkGreen; 
    }
}

nav {
    ul {
        list-style: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        width: 100%;
        &::after {
            content: "";
            display: block;
            clear: both;
        }
        li {
            display: inline-block;
            position: relative;
            width: 20%;
            float: left;
            ul {
                display: none;
                position: absolute;
            }
            &:hover {
                ul {
                    display: block;
                    li {
                        display: block;
                        width: 100%;
                        float: none;
                    }
                }
            }
            a {
                text-decoration: none;
                color: @darkGreen;
                background-color: @midGreen;
                display: block;
                padding: 10px;
                text-align: center;
                &:hover {
                    background-color: @lightGreen;
                }
            }
        }
    }
}

.event {
    margin-bottom: 10px;
    .month {
        display: block;
        color: @lightGreen;
        background-color: @darkGreen;
        text-align: center;
        border: solid 1px @darkGreen;
    }
    .day {
        display: block;
        border: solid 1px @darkGreen;
        text-align: center;
        padding: 10px;
    }
    .calendar{
        width: 60px;
        float: left;
    }
    .single-event {
        p {
            margin-left: 65px;
            padding-top: 10px;
        }
        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }
}

.date {
    color: @neutralColor;
    margin: 0;
}

.login {
    input{
        background-color: @lightGreen;
        width: 50%;
    }
    input[type="submit"]{
        width: auto;
    }
    label {
        width: 40%;
        display: inline-block;
    }

}

.back {
    background-image: none;
    text-align: center;
}

.some {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; 
}

.facebook {
    width: 49%;
    float: right;
}

.twitter {
    width: 49%;
    float: left;
}

.tw-user {
    color: @lightGreen;
}

.tw-date {
    color: @neutralColor;
    float: right;
}

.tweet-buttons {
    float: right;
}

.tw-logo {
    float: left;
    width: 30px;
}

.tw-content {
    margin-left: 35px;
}

.tw-post {
    clear: both;
}

.tw-tweet {
    display: block;
}

.fb-user {
    color: @midGreen;
}

.fb-date {
    color: @neutralColor;
    display: block;
}

.fb-like {
    float: right;
    height: 35px;
}

.fb-post {
    clear: both;
    border-bottom: dashed 2px @neutralColor;
    &::after {
        content: "";
        clear: both;
        display: block;
    }
}