* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.top-nav {
  float: right;
  text-align: center;
  margin-bottom: 10px;
}

.top-nav a {
  padding: 5px;
  text-decoration: none;
  color: #000000;
  background-color: #0090ff;
  padding: 5px;
  border: 2px #00e1ff solid;
  border-radius: 5px;
}

header {
  border: 2px #0061ff solid;
  border-radius: 10px;
  clear: both;
  text-align: center;
}

.categories ul {
  margin-top: 40px;
  list-style: none;
  border: 2px solid #00a9ff;
  text-align: center;
  padding-left: 0px;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.categories a{
  color: #000000;
  text-decoration: none;
}

.categories li {
  padding: 7px;
}

.top-nav li {
  list-style: none;
  float: left;
  padding: 5px;
}

.login-text {
  text-align: center;
  font-weight: bolder;
}

.link {
  text-decoration: none;
  color: #000000;
}

.content {
  padding-top: 10px;
}

.register{
  border: 2px solid #00a9ff;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: 20px;
  border-radius: 15px;
  padding-left: 40px;
}

.register form {
  padding: 20px;
}

.register form input {
  margin-bottom: 10px;
}

.post {
  border: 2px solid #00a9ff;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  margin-top: 20px;
  border-radius: 15px;
  padding-left: 60px;
}

.post input {
  margin-bottom: 10px;
}

.post textarea {
  width: 80%;
  margin-bottom: 10px;
}

.post form {
  padding: 15px;
  margin-bottom: 10px;
}

.question {
  border: 2px solid #00a9ff;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 20px;
  border-radius: 15px;
  padding-left: 60px;
  padding-top: 10px;
}

.time {
  color: #a7abb2;
  float: right;
  padding-right: 10px;
}

.date {
  text-align: right;
  color: #a7abb2;
}

.question_content {
  width: 95%;
}

.comment {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.commento {
  border: 2px solid #00a9ff;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 20px;
  border-radius: 15px;
  padding-left: 60px;
  padding-top: 10px;
  padding-right: 60px;
}
