* {
  box-sizing: border-box;
  max-width: 100%;
}

.background {
  max-width: 1000px;
}

.top {
  background-color: #fff7e6;
}

.text1 {
  background-color: #fff7e6;
  display: none;
}

.text2 {
  background-color: #fff7e6;
  display: none;
}

.textbackground {
  background-color: #b999a1;
}

.right {
  text-align: right;
  display: none;
}

.right a {
  text-decoration: none;
}

.sidebar {
  background-color: #fff7e6;
}

.sidebar a {
  background-color: #b999a1;
  text-decoration: none;
  width: 99%;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul {
  padding: 10px;
}

.sidebar a::after {
  content: ">";
  text-align: right;
  display: inline-block;
  float: right;
}

.top {
  display: none;
}

.header {
  display: none;
  text-align: center;
  border-top: dashed;
  border-bottom: dashed;
  border-color: #b999a1;
  border-width: 2px;
}

.topnav {
  display: none;
  width: 100%;
}

.topnav a {
  background-color: #b999a1;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  width: 20%;
  float: left;
}

.mobiletopnav select {
  background-color: #b999a1;
  color: #852425;
  width: 100%;
  display: block;
  border: solid;
  border-color: #852425;
}

.logo {
  width: 100%;
  display: block;
  margin-top: 5px;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 2px;
}

.footer p {
  margin: 0;
}

.underline {
  border-bottom: dashed;
  border-width: 2px;
  border-color: #b999a1;
}

.textbackground {
  width: 70%;
  float: right;
}

.textbackground h2 {
  margin: 0;
}

.textbackground p:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width:600px) {
  .top, .text1, .text2, .right, .header, .topnav {
    display: block;
  }
  .mobiletopnav {
    display: none;
  }
  .logo {
    display: none;
  }
  .sidebar {
    width: 30%;
    float: left;
  }
  .footer {
    clear: both;
  }
}

@media only screen and (min-width:900px) {
  .underline {
    border-bottom: none;
    font-style: italic;
    font-weight: bold;
  }
  .topnav {
    padding-left: 10px;
    display: inline;
    width: auto;
    float: right;
  }
  .logo {
    display: inline-block;
    width: auto;
    height: 50px;
  }
  .topnav a {
    display: inline-block;
    float: none;
    padding: 10px;
    width: auto;
  }
  .top h1 {
    margin-top: 0;
  }
  .headercolumn {
    width: 50%;
    display: block;
    float: left;
  }
  .top::after {
    content: "";
    display: block;
    clear: both;
  }
  .headercolumn:first-child {
    padding-top: 50px;
    text-align: right;
    padding-right: 70px;
  }
}
