*{
  box-sizing: border-box;
}

#wrapper{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

#container{
  border: 3px solid #cc0099;
  border-bottom: none;

}

#header {
  background-color: #ffcccc;
  text-align: center;
  padding: 10px;
  font-style: italic;
  font-weight: bold;
  border-bottom: 2px solid #cc0099;

}

#header h1{
  margin-top: 5px;
}

#header p {
  margin-bottom: 5px;
  font-size: 25px;
}

.saaviikko{
  background-color: #ff99ff;
}

.saaviikko p{
  margin: 0px;
  padding: 5px;
  font-weight: bold;
}

.saa{
  width: 100%;
}

.saa::after{
  content: "";
  display: block;
  clear: both;
}

.paivansaa{
  width: 14.28571428571429%;
  float: left;
  border: 1px solid #cc0099;
  padding: 5px;


}

.paivansaa:first-child{
  border-left: none;
}

.paivansaa:last-child{
  border-right: none;
}

.lampotila {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.paivansaa .paiva{
  text-align: center;
  font-weight: bold;
  margin-top: 2px;
}


#text::after{
  content: "";
  display: block;
  clear: both;
}


#text{
  width: 100%;
  padding: 10px;
  border: 3px solid #cc0099;
  border-top: none;

}

.sidepanel{
  width: 33%;
  float: right;
  border: 1px solid #cc0099;
  padding: 5px;
}

.blogi{
  border-bottom: 1px dashed #cc0099;
  margin-bottom: 3px;
}



.sidepanel .title{
  background-color: #ff99ff;
  font-size: 20px;
  font-weight: bold;
  padding: 3px;
  margin-top: 0;
  margin-bottom: 0;

}

.blogi_nimi{
  margin-top: 3px;
  margin-bottom: 3px;

}

.blogi_kirjoittaja{
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 12px;
  color: #afafaf;
  display: inline-block;

}

.blogi_julkaisuaika{
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 12px;
  color: #afafaf;
  float: right;
}

.uutinen_aika{
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 12px;
  color: #afafaf;
}

.main-text{
  width: 67%;
  padding: 5px;


}

.teksti{
  width: 50%;
  padding: 5px;
  float: left;
  margin-right: 0;
}


#ff99ff


#cc0099
